---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import blogs from '../../content/blog/blogs.json';
import researchPapers from '../../content/blog/researchPapers.json';

const posts = await getCollection('blog');

const titleToIndexMap = new Map();

posts.forEach((post, index) => {
  titleToIndexMap.set(post.title, index);
});

console.log(posts);
const index = titleToIndexMap.get("Your Post Title");
console.log(index); 

// Get today's date
const today = new Date();
---



<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			
			h1, h2, h3, h4, h5 {
				font-style: italic;
  				font-weight: normal;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
				color: #BF00FF;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
				transition: text-shadow 0.3s ease;
			}
			.title:hover {
				text-shadow: 0 0 5px #BF00FF, 0 0 10px #BF00FF; /* Electric Purple glow */
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a h4,
			ul li a .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}

			ul.blog-list {
				list-style: none;
				padding: 0;
				margin: 0;
				display: block; /* Force list into a block flow */
			}

			ul.blog-list li {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				margin-bottom: 1rem;
			}

			ul.blog-list li::before {
				content: "•";
				color: black;
				margin-right: 0.5rem;
			}

			ul.blog-list li span.date {
				white-space: nowrap;
			}

			ul.blog-list li a {
				color: blue;
				text-decoration: none;
			}

		
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
			.blog-title {
				display: inline-block;
				width: 100%;
			}
			
		</style>
	</head>
	<body>
		<>
		<Header />
			<main>  
				<section> 
					<h1><i>Blogs</i></h1> 

					<ul class="blog-list">
					{
						blogs.map((blog) => (
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={blog.url}><span class="blog-title">{blog.title}</span></a> ({blog.no_times_read})
						</li>
						</span>
						))
					}
					</ul>
  
				</section>
				<br><br>
				<section> 
					<h1><em>Engineering Papershelf</em></h1> 
					<ul class="blog-list">
					{
						researchPapers.map((researchPaper) => (
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={researchPaper.url}><span class="blog-title">{researchPaper.title}</span></a> ({researchPaper.no_times_read})
						</li>
						</span>
						))
					}
					</ul>  
				</section>  
				<br><br>
				<h1>Design Patterns</h1>
				<section style="margin-left: 5%;">
					<h5>Creational Design Patterns</h5>
					<ul class="blog-list">
						<!-- Factory  -->
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={`/blog/${posts[1].id}`}>
								{posts[1].data.title}
							</a>
						</li>
						<!-- Abstract Factory-->
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={`/blog/${posts[1].id}`}>
								{posts[1].data.title}
							</a>
						</li>
						</span>
						<!-- Singleton -->
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={`/blog/${posts[1].id}`}>
								{posts[1].data.title}
							</a>
						</li>
						<!-- Builder -->
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={`/blog/${posts[1].id}`}>
								{posts[1].data.title}
							</a>
						</li>
					</ul>
				</section>
				<section style="margin-left: 5%;">
					<h5>Structural Design Patterns</h5>
					<ul class="blog-list">
						<!-- Facade -->
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={`/blog/${posts[2].id}`}>
								{posts[2].data.title}
							</a>
						</li>
						</span>
						<!-- Adapter -->
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={`/blog/${posts[2].id}`}>
								{posts[2].data.title}
							</a>
						</li>
						</span>
						<!-- Decorator -->
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={`/blog/${posts[2].id}`}>
								{posts[2].data.title}
							</a>
						</li>
						</span>
						<!-- Proxy -->
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={`/blog/${posts[2].id}`}>
								{posts[2].data.title}
							</a>
						</li>
						</span>
						<!-- Flyweight -->
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={`/blog/${posts[2].id}`}>
								{posts[2].data.title}
							</a>
						</li>
						</span>
					</ul>
				</section>
				<section style="margin-left: 5%;">
					<h5>Behavioural Design Patterns</h5>
					<ul class="blog-list">
					    <!-- Strategy -->
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={`/blog/${posts[3].id}`}>
								{posts[3].data.title}
							</a>
						</li>
						</span>
						<!-- Observer -->
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={`/blog/${posts[3].id}`}>
								{posts[3].data.title}
							</a>
						</li>
						</span>
						<!-- State -->
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={`/blog/${posts[3].id}`}>
								{posts[3].data.title}
							</a>
						</li>
						</span>
						<!-- Chain of Responsibility -->
						<span>
						<li>
							<span class="date"><FormattedDate date={today} /></span>
							:
							<a href={`/blog/${posts[3].id}`}>
								{posts[3].data.title}
							</a>
						</li>
						</span>
					</ul>
				</section>
				<br><br>
			</main>
		<Footer/>
		</>
	</body>
</html>